init.author.name = admin
init.author.email = pmmanoj650@gmail.com
init.author.url = http://100.24.9.127:8081/repository/npm_updated/
# an email is required to publish npm packages
email=pmmanoj650@gmail.com
always-auth=true
_auth=YWRtaW46NzcyNjk1

