email=admin@example.org
#always-auth=true
_auth=YWRtaW46NzcyNjk1
allowRepublish=true
@my-org:registry=http://100.24.9.127:8081/repository/nodejs/
//http://100.24.9.127:8081/repository/nodejs/:_authToken=YWRtaW46NzcyNjk1
